mixin video(video)
    div.video_mixin
        a(href=`/videos/${video.id}`).video_image
        div.video_info  
            div.video_title  
                a(href=`/videos/${video.id}`)=video.title
            span.video_owner_name=video.owner.name
            div.video_meta
                span=`${video.meta.views} views`
                span 
                    i.fas.fa-circle
                span=video.createdAt
        