extends base.pug

block content 
    div#videoContainer(data-id=video._id)
        video(src="/"+video.fileUrl, controls) 
        div#videoControls
            button#play Play
            button#mute Mute
            input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
            div 
                span#currentTime 00:00
                span  /  
                span#totalTime 
            div    
                input(type="range",step="1", value=0, min="0")#timeLine
            div 
                button#fullscreenBtn fullscreen
    div 
        p=video.description
        p=video.hashtags
        small=video.createdAt
    div 
        a(href=`/users/${video.owner._id}`)  Uploaded by #{video.owner.name}
    div 
        p=video.meta.views


    if String(video.owner._id) === String (loggedInUser._id)
        a(href=`${video.id}/edit`) Edit video &rarr; 
        br
        a(href=`${video.id}/delete`) Delete video &rarr; 

block scripts 
    script(src="/static/js/videoPlayer.js") 